body {
    background-color: #f1f1f1;
}

button {
    outline: none;
    border: none;
    background: none;
}

a {
    text-decoration: none;
}

.navigation-area {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}

.input-field {
    margin: 0.5rem 0;
}

.navigation-area-container {
    width: 100%;
}

.navigation-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15rem;
}

i {
    color: #197730;
    font-size: 2rem;
}

.navigation-title h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 3.3rem;
    font-weight: 400;
    color: #163A24;
}

.pages {
    width: 100%;
    padding: 0 15rem;
    margin-bottom: 0.5rem;
}

.pages-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}

.order-form-area {
    padding: 0 15rem;
}

.form-container {
    background-color: #FFFFFF;
    border-radius: 0.9rem;
    margin-bottom: 2rem;
}

.order-form {
    padding: 2rem;
}

.order-form h2 {
    margin-bottom: 0.5rem;
}

.service-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 30% 70%;
    margin-bottom: 1rem;
}

.service-img{
    width: 280px;
    height: 280px;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-img img{
    width: 100%;
    object-fit: cover;
}

.service-information{
    padding-left: 1rem;
}

.service-information h2{
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.service-information p{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 300;
}

input {
    font-family: 'Quicksand', sans-serif;
}

.input-field {
    font-family: 'Outfit', sans-serif;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border: 2px solid #197730;
    padding: 0.6rem 1rem;
}

.input-field input{
    font-family: 'Outfit', sans-serif;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.3px;
}

.input-field input::placeholder{
    font-family: 'Outfit', sans-serif;
    opacity: 90%;
    font-weight: 400;
    letter-spacing: 1px;
}

.select-field{
    font-family: 'Outfit', sans-serif;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border: 2px solid #197730;
    padding: 0.6rem 1rem;
}

.select-field select{
    font-family: 'Outfit', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    background: none;
    outline: none;
    border: none;
}

.text-field{
    font-family: 'Outfit', sans-serif;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin: 1rem 0;
    border: 2px solid #197730;
    padding: 0.6rem 1rem;
}

textarea{
    resize: vertical;
    font-family: 'Outfit', sans-serif;
    outline: none;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 1.3px;
    background: none;
    outline: none;
    border: none;
    width: 100%;
}

textarea::placeholder {
    opacity: 90%;
    font-weight: 400;
    letter-spacing: 1px;
}

.button-area {
    width: 100%;
    text-align: right;
    margin-top: 1.5rem;
}

.button-area a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #f1f1f1;
    background-color: #163A24;
    padding: 0.5rem 0.8rem;
    border-radius: 6px;
    transition: 0.5s;
}

.button-area a:hover {
    background-color: #1B8436;
}

@media only screen and (max-width: 1500px) {
    .service-grid{
        display: flex;
        flex-direction: column;
    }

    .service-information{
        text-align: center;
        margin-top: 0.5rem;
    }
}

@media only screen and (max-width: 1000px) {
    .order-form-area {
        padding: 0 2rem;
    }

    .navigation-icons {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 800px) {
    .order-form-area{
        padding: 0 2rem;
    }
    
    .navigation-icons{
        padding: 0 2rem;
    }

    .navigation-title h2{
        font-size: 2rem;
    }
}