body {
    background-color: #f1f1f1;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}

button {
    outline: none;
    border: none;
    background: none;
}


/* orders HEADER SECTION */

.orders-container {
    padding: 0 5rem;
    width: 100%;
}

.orders-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.orders-header h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 200;
}

.orders-header a {
    text-decoration: none;
    border: none;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #1B8436;
    color: #F0ECD7;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 700;
    padding: 0.5rem 0.8rem;
    transition: 0.4s;
}

.orders-header a:hover {
    background-color: #197730;
}

.divider {
    width: 100%;
    margin: 0 5rem;
    background-color: #0f0f0f;
    height: 2px;
}

.divider {
    width: 100%;
    margin: 0 5rem;
    background-color: #0f0f0f;
    height: 2px;
}

.order-navigation-section {
    padding: 0 5rem;
}

.navigation-container {
    width: 100%;
    padding: 1rem 4rem;
    background-color: #197730;
    border-radius: 7px;
}

.navigation-container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigation-container a {
    font-weight: 400;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 0.9rem;
    color: #FFFFFF;
    transition: 0.5s;
}

.navigation-container a:hover {
    font-weight: 600;
}

.table-titles-section {
    padding: 0 7rem;
}

.table-titles {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 15% 15% 20%;
}

.table-titles p {
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-size: 0.9rem;
}

.table-titles .orders-actions {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}


/*ORDERS TABLE SECTION */

.orders-table-section {
    padding: 0 5rem;
}

.orders-table-container {
    width: 100%;
}

.orders-table {
    background-color: #FFFFFF;
    display: grid;
    grid-template-columns: 50% 15% 15% 20%;
    border-radius: 10px;
    align-items: center;
    height: 100px;
    margin-bottom: 20px;
    padding: 0 2rem;
}

.orders-column {
    display: flex;
    align-items: center;
}

.orders-column p {
    margin-left: 1rem;
}

.table-image {
    background-color: #1B8436;
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

.actions-column {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1B8436;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
    padding: 0.5rem 0.8rem;
}

.actions-column a {
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    color: #F0ECD7;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 0.9rem;
    font-weight: 700;
    transition: 0.4s;
}

@media only screen and (max-width: 768px) {
    .table-titles-section {
        display: none;
    }
    .orders-header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .orders-header h2 {
        font-size: 2rem;
        text-align: center;
    }
    .orders-header a {
        width: 100%;
        text-align: center;
        margin-top: 0.5rem;
    }
    .orders-table {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 250px;
    }
    .orders-column {
        margin: 0.5rem 0;
        flex-direction: column;
    }
    .orders-column p {
        margin: 0;
    }
    .total-column {
        margin: 0.5rem 0;
        text-align: center;
    }
    .status-column {
        margin: 0.5rem 0;
    }
    .actions-column {
        justify-content: center;
        align-items: center;
    }
    .actions-column a {
        margin: 0.5rem;
        display: inline-block;
    }
}

@media only screen and (max-width: 768px) {
    .navigation-container {
        padding: 1rem 2rem;
    }
    .orders-container {
        padding: 0 2rem;
    }
    .divider {
        margin: 0 2rem;
    }
    .orders-table-section {
        padding: 0 2rem;
    }
    .order-navigation-section {
        padding: 0 2rem;
    }
}