<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GoCreate | Home</title>

    <!-- ===== ICON ===== -->
    <link rel="icon" type="image/png" href="img/logo.svg">

    <!-- ===== WEB ICONS ===== -->
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- ===== GOOGLE FONTS ===== -->
    <link
        href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&family=Syne:wght@400;500;600;700;800&display=swap"
        rel="stylesheet">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="css/nav-styles.css">
    <link rel="stylesheet" href="css/footer-styles.css">
    <link rel="stylesheet" href="css/buyer-home-styles.css">
    <link rel="stylesheet" href="css/lightslider.css">
</head>

<body>
    <div class="big-wrapper light">
        <header>
            <div class="nav-container">
                <div class="logo">
                    <a href="buyer-home.html"><img src="img/buyer-logo.svg" class="header-logo"></a>
                </div>

                <div class="links">
                    <ul>
                        <li><a href="buyer-home.html">Home</a></li>
                        <li><a href="#">Messages</a></li>
                        <li><a href="category-digital-art.html">Browse by Category</a></li>
                        <li><a href="buyer-profile.html">Profile</a></li>
                        <li><a href="buyer-settings.html">Settings</a></li>
                        <li><a href="index.html">Log Out</a></li>
                    </ul>
                </div>

                <div class="overlay"></div>

                <div class="hamburger-menu">
                    <div class="bar"></div>
                </div>
            </div>
        </header>
    </div>

    <!-- <section class="banner-section">
        <div class="banner-container">
            <div class="banner"></div>
        </div>
    </section> -->

    <section id="slider">
        <div class="slider-title">
            <h2>Discover</h2>
        </div>
        <div class="card-container">
            <div class="card">
                <div class="slide-img">
                    <img src="img/creators-popup.gif" alt="">
                    <div class="overlayer">
                        <a href="browse-service.html" class="view-btn">View More</a>
                    </div>
                </div>

                <div class="detail-box">
                    <div class="detail-box-container">
                        <div class="seller-details">
                            <img src="img/nav-icon-user-icon.svg" alt="profile">
                            <a href="browse-seller.html">seanabalora</a>
                        </div>

                        <div class="service-details">
                            <a href="browse-service.html">And somewhere between our worlds, there's love.</a>
                        </div>

                        <div class="price-details">
                            <h2>PRICE</h2>
                            <p>PHP1,000.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="slide-img">
                    <img src="img/creator-roms.gif" alt="">
                    <div class="overlayer">
                        <a href="browse-service.html" class="view-btn">View More</a>
                    </div>
                </div>

                <div class="detail-box">
                    <div class="detail-box-container">
                        <div class="seller-details">
                            <img src="img/nav-icon-user-icon.svg" alt="profile">
                            <a href="browse-seller.html">seanabalora</a>
                        </div>

                        <div class="service-details">
                            <a href="browse-service.html">And somewhere between our worlds, there's love.</a>
                        </div>

                        <div class="price-details">
                            <h2>PRICE</h2>
                            <p>PHP1,000.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="slide-img">
                    <img src="img/creator-dylan.gif" alt="">
                    <div class="overlayer">
                        <a href="browse-service.html" class="view-btn">View More</a>
                    </div>
                </div>

                <div class="detail-box">
                    <div class="detail-box-container">
                        <div class="seller-details">
                            <img src="img/nav-icon-user-icon.svg" alt="profile">
                            <a href="browse-seller.html">seanabalora</a>
                        </div>

                        <div class="service-details">
                            <a href="browse-service.html">And somewhere between our worlds, there's love.</a>
                        </div>

                        <div class="price-details">
                            <h2>PRICE</h2>
                            <p>PHP1,000.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="slide-img">
                    <img src="img/creator-errol.gif" alt="">
                    <div class="overlayer">
                        <a href="browse-service.html" class="view-btn">View More</a>
                    </div>
                </div>

                <div class="detail-box">
                    <div class="detail-box-container">
                        <div class="seller-details">
                            <img src="img/nav-icon-user-icon.svg" alt="profile">
                            <a href="browse-seller.html">seanabalora</a>
                        </div>

                        <div class="service-details">
                            <a href="browse-service.html">And somewhere between our worlds, there's love.</a>
                        </div>

                        <div class="price-details">
                            <h2>PRICE</h2>
                            <p>PHP1,000.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="slide-img">
                    <img src="img/creator-aba.gif" alt="">
                    <div class="overlayer">
                        <a href="browse-service.html" class="view-btn">View More</a>
                    </div>
                </div>

                <div class="detail-box">
                    <div class="detail-box-container">
                        <div class="seller-details">
                            <img src="img/nav-icon-user-icon.svg" alt="profile">
                            <a href="browse-seller.html">seanabalora</a>
                        </div>

                        <div class="service-details">
                            <a href="browse-service.html">And somewhere between our worlds, there's love.</a>
                        </div>

                        <div class="price-details">
                            <h2>PRICE</h2>
                            <p>PHP1,000.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="slide-img">
                    <img src="img/creator-ros.gif" alt="">
                    <div class="overlayer">
                        <a href="browse-service.html" class="view-btn">View More</a>
                    </div>
                </div>

                <div class="detail-box">
                    <div class="detail-box-container">
                        <div class="seller-details">
                            <img src="img/nav-icon-user-icon.svg" alt="profile">
                            <a href="browse-seller.html">seanabalora</a>
                        </div>

                        <div class="service-details">
                            <a href="browse-service.html">And somewhere between our worlds, there's love.</a>
                        </div>

                        <div class="price-details">
                            <h2>PRICE</h2>
                            <p>PHP1,000.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="slide-img">
                    <img src="img/creator-saey.gif" alt="">
                    <div class="overlayer">
                        <a href="browse-service.html" class="view-btn">View More</a>
                    </div>
                </div>

                <div class="detail-box">
                    <div class="detail-box-container">
                        <div class="seller-details">
                            <img src="img/nav-icon-user-icon.svg" alt="profile">
                            <a href="browse-seller.html">seanabalora</a>
                        </div>

                        <div class="service-details">
                            <a href="browse-service.html">And somewhere between our worlds, there's love.</a>
                        </div>

                        <div class="price-details">
                            <h2>PRICE</h2>
                            <p>PHP1,000.00</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="slide-img">
                    <img src="img/creators-popup.gif" alt="">
                    <div class="overlayer">
                        <a href="browse-service.html" class="view-btn">View More</a>
                    </div>
                </div>

                <div class="detail-box">
                    <div class="detail-box-container">
                        <div class="seller-details">
                            <img src="img/nav-icon-user-icon.svg" alt="profile">
                            <a href="browse-seller.html">seanabalora</a>
                        </div>

                        <div class="service-details">
                            <a href="browse-service.html">And somewhere between our worlds, there's love.</a>
                        </div>

                        <div class="price-details">
                            <h2>PRICE</h2>
                            <p>PHP1,000.00</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER STARTS HERE -->

    <div class="creator-popup center roms-popup">
        <div class="creator-grid">
            <div class="creator-img">
                <img src="/img/creator-roms.gif">
            </div>

            <div class="creator-about">
                <div class="creator-details">
                    <h2>Romeo Rojo</h2>
                </div>

                <div class="creator-details">
                    <p>GoCreate Final Boss</p>
                </div>

                <div class="creator-details">
                    <div class="creator-links">
                        <a href="https://www.facebook.com/romeo.rojo.5" target="_blank"><i
                                class='bx bxl-facebook'></i></a>
                    </div>
                </div>

                <div class="creator-details dismiss-btn">
                    <button id="roms-dismiss-btn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="creator-popup center dylan-popup">
        <div class="creator-grid">
            <div class="creator-img">
                <img src="/img/creator-dylan.gif">
            </div>

            <div class="creator-about">
                <div class="creator-details">
                    <h2>Dylan Jabla</h2>
                </div>

                <div class="creator-details">
                    <p>GoCreate Backend Boi</p>
                </div>

                <div class="creator-details">
                    <div class="creator-links">
                        <a href="https://www.facebook.com/dylan.jabla/" target="_blank"><i
                                class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/dylan.jabla//" target="_blank"><i
                                class='bx bxl-instagram'></i></a>
                        <a href="https://djabla.github.io/" target="_blank"><i class='bx bxl-github'></i></a>

                    </div>
                </div>


                <div class="creator-details dismiss-btn">
                    <button id="dylan-dismiss-btn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="creator-popup center errol-popup">
        <div class="creator-grid">
            <div class="creator-img">
                <img src="/img/creator-errol.gif">
            </div>

            <div class="creator-about">
                <div class="creator-details">
                    <h2>Errol John Lagera</h2>
                </div>

                <div class="creator-details">
                    <p>Your friendly programmer</p>
                </div>

                <div class="creator-details">
                    <div class="creator-links">
                        <a href="https://www.facebook.com/erroljohn.lagera" target="_blank"><i
                                class='bx bxl-facebook'></i></a>
                        <a href="https://www.instagram.com/yieeej/" target="_blank"><i class='bx bxl-instagram'></i></a>
                        <a href="https://lorrenhoj.github.io/lagera/" target="_blank"><i class='bx bxl-github'></i></a>
                    </div>
                </div>

                <div class="creator-details dismiss-btn">
                    <button id="errol-dismiss-btn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="creator-popup center aba-popup">
        <div class="creator-grid">
            <div class="creator-img">
                <img src="/img/creator-aba.gif">
            </div>

            <div class="creator-about">
                <div class="creator-details">
                    <h2>Sean David Abalora</h2>
                </div>

                <div class="creator-details">
                    <p>Frontend Center!</p>
                </div>

                <div class="creator-details">
                    <div class="creator-links">
                        <a href="https://www.instagram.com/seanabalora/" target="_blank"><i
                                class='bx bxl-instagram'></i></a>
                        <a href="https://abasushi.github.io/seanabalora/" target="_blank"><i
                                class='bx bxl-github'></i></a>
                    </div>
                </div>

                <div class="creator-details dismiss-btn">
                    <button id="aba-dismiss-btn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="creator-popup center ros-popup">
        <div class="creator-grid">
            <div class="creator-img">
                <img src="/img/creator-ros.gif">
            </div>

            <div class="creator-about">
                <div class="creator-details">
                    <h2>Rosario Imelda Cuevas</h2>
                </div>

                <div class="creator-details">
                    <p>GoCreate Girl Boss</p>
                </div>

                <div class="creator-details">
                    <div class="creator-links">
                        <a href="https://www.instagram.com/rosmellecaves/" target="_blank"><i
                                class='bx bxl-instagram'></i></a>
                        <a href="https://www.linkedin.com/in/rosmelle-cuevas-b825921ba/" target="_blank"><i
                                class='bx bxl-linkedin'></i></i></a>
                    </div>
                </div>

                <div class="creator-details dismiss-btn">
                    <button id="ros-dismiss-btn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="creator-popup center saey-popup">
        <div class="creator-grid">
            <div class="creator-img">
                <img src="/img/creator-saey.gif">
            </div>

            <div class="creator-about">
                <div class="creator-details">
                    <h2>Saeymond Charles Serrano</h2>
                </div>

                <div class="creator-details">
                    <p>Cutie</p>
                </div>

                <div class="creator-details">
                    <div class="creator-links">
                        <a href="https://www.instagram.com/seymondcute/" target="_blank"><i
                                class='bx bxl-instagram'></i></a>
                        <a href="https://saeymondserrano.github.io/Portfolio/" target="_blank"><i
                                class='bx bxl-github'></i></a>
                    </div>
                </div>

                <div class="creator-details dismiss-btn">
                    <button id="saey-dismiss-btn">Close</button>
                </div>
            </div>
        </div>
    </div>

    <footer class="footer-section">
        <div class="footer-container">
            <h1>Let's GoCreate!</h1>
            <span class="footer-divider"></span>

            <div class="footer">
                <div class="footer-row">
                    <div class="footer-column">
                        <h3>Categories</h3>
                        <ul>
                            <li><a href="category-digital-art.html" class="underline">Digital Art</a></li>
                            <li><a href="category-graphic-design.html" class="underline">Graphic Design</a></li>
                            <li><a href="category-photography.html" class="underline">Photography</a></li>
                            <li><a href="category-publication-material.html" class="underline">Publication Material</a>
                            </li>
                            <li><a href="category-traditional-art.html" class="underline">Traditional Art</a></li>
                            <li><a href="category-typography.html" class="underline">Typography</a></li>
                            <li><a href="category-website-design.html" class="underline">Website Design</a></li>
                        </ul>
                    </div>

                    <div class="footer-column">
                        <h3>Creators</h3>
                        <ul>
                            <li>
                                <h5>Backend</h5>
                            </li>
                            <li><button class="underline" id="creator-roms">Rojo</button></li>
                            <li><button class="underline" id="creator-dylan">Jabla</button></li>
                            <li><button class="underline" id="creator-errol">Lagera</button></li>
                            <li>
                                <h5>Frontend</h5>
                            </li>
                            <li><button class="underline" id="creator-aba">Abalora</button></li>
                            <li><button class="underline" id="creator-ros">Cuevas</button></li>
                            <li><button class="underline" id="creator-saey">Serrano</button></li>
                        </ul>
                    </div>

                    <div class="footer-column">
                        <h3>Socials</h3>
                        <ul>
                            <li><a href="https://www.facebook.com/GoCreatePhilippines/?ref=page_internal"
                                    target="_blank" class="underline">Facebook</a></li>
                            <li><a href="https://www.instagram.com/thegocreate/" target="_blank"
                                    class="underline">Instagram</a></li>
                            <li><a href="https://twitter.com/thegocreate" target="_blank" class="underline">Twitter</a>
                            </li>
                        </ul>

                        <div class="say-hi">
                            <h3>Say Hi!</h3>

                            <div class="e-mail">
                                <h2 class="underline" id="copy-email">gocreate@gmail.com</h2>
                                <div class="popup">
                                    <h4>Copied to Clipboard!</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <span class="footer-divider"></span>

            <div class="footer-rights-container">
                <div class="footer-logo">
                    <a href="#">
                        <img src="img/logo.svg">
                    </a>
                    <h3>GoCreate</h3>
                </div>

                <div class="footer-rights">
                    <p>Team Roms &copy; 2022</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- ===== JS ===== -->
    <script src="js/nav-script.js"></script>
    <script src="js/footer-script.js"></script>
</body>

</html>